<angular-semantic-ui-grid 
    [data]="data" 
    [settings]="settings"
    [selectedItem]="selectedItem"
    [requestRunning]="requestRunning"
    (searchMethod)="searchMethod($event)"
    (itemSelected)="onItemSelected($event)"
    (doubleClick)="onItemDoubleClick()">

    <ng-template asugBody let-header="header" let-datum="datum">
        {{getContent(header, datum)}}    
    </ng-template>

    <ng-template asugFooter>
        <button class="ui left floated primary button">Submit</button>
    </ng-template>
</angular-semantic-ui-grid>